<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.aems"
    version   = "1.0.0">

<name>Aplicación Final PhoneGap</name>

<description>
    Aplicación Final PhoneGap
</description>

<author href="https://example.com" email="you@example.com">
    Alan Eduardo Medina Silva
</author>


<platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="images/app-logo.png" density="land-hdpi"/>
    <splash src="images/app-logo.png" density="land-ldpi"/>
    <splash src="images/app-logo.png" density="land-mdpi"/>
    <splash src="images/app-logo.png" density="land-xhdpi"/>

    <splash src="images/app-logo.png" density="port-hdpi"/>
    <splash src="images/app-logo.png" density="port-ldpi"/>
    <splash src="images/app-logo.png" density="port-mdpi"/>
    <splash src="images/app-logo.png" density="port-xhdpi"/>
</platform>

</widget>
